<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Audere Est Facere</h1>
    <br />
    <h2>To Dare is To Do</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
  </div>
</div>


<body>
  <div class="booyah-box index-body">
  <br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Foreign Language 1</h3>
    <br />
    <p>This is the first foreign language</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Foreign Language 2</h3>
    <br />
    <p> This is the second foreign language</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Foreign Language 3</h3>
  </div>
  <br />
  <p>This is the third foriegn language</p>
</div>
</div>
</body>
